    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li class="active">
                        <a href="">
                            <i class="simple-icon-pie-chart"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-event"></i>
                            Book a transport
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-layers"></i>Orders
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-settings"></i>Settings
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="simple-icon-logout"></i>
                            Sign out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
