<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li class="active">
                    <a href="">
                        <i class="iconsminds-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="iconsminds-car"></i>
                        Book a transport
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="iconsminds-box-with-folders"></i>Orders
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="iconsminds-gear"></i>Settings
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="iconsminds-arrow-outside"></i>
                        Sign out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
