<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Book a new transport</h1>
        <div class="separator mb-5"></div>
        <%= form_for @order, url: {action: "create"} do |f| %>
          <%#= f.input :pickup_date, as: :string, input_html: {type: :date } %>
          <%#= f.input :pickup_time, as: :string, input_html: {type: :time } %>
          <%#= f.input :comment %>
          <%#= f.association :pickup_address,
              collection: Address.all,
              :label_method => :description,
              :value_method => :id,
              :selected_method => :id,
              include_blank: false
          %>
          <%#= f.association :delivery_address,
              collection: Address.all,
              :label_method => :description,
              :value_method => :id,
              :selected_method => :id,
              include_blank: false
           %>
            <%= f.select :status, ["Yes", "No"] %>


          <%= f.button :submit %>
        <% end %>

      </div>
    </div>
  </div>
</main>
