<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Your transportation  portal</h1>
        <div class="separator mb-5"></div>
      </div>
    </div>

    <div class="row">

      <!-- This is the start of a card -->
      <div class="col-lg-4">
        <div class="card mb-4 progress-banner">
          <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div>
                <i class="iconsminds-environmental mr-2 text-white align-text-bottom d-inline-block"></i>
                <div>
                  <% if current_user %>
                    <p class="lead text-white">Total positive CO2 impact: <strong><%= current_user.organization.tree_emission_impact %></strong></p>
                    <p class="text-small text-white">Total positive CO2 reduction measured in tonnes</p>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- This is the end of a card -->

      <!-- This is the start of a card -->
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div>
                <i class="iconsminds-environmental mr-2 text-white align-text-bottom d-inline-block"></i>
                <div>
                  <% if current_user %>
                    <p class="lead text-white">Total positive CO2 impact: <strong><%= current_user.organization.tree_emission_impact %></strong></p>
                    <p class="text-small text-white">Total positive CO2 reduction measured in tonnes</p>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- This is the end of a card -->

    </div>
  </div>
</main>
