.address-choices{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 5px 0;
}

.address-choice{
  // background: $theme-color-1;
  border: 1px solid $theme-color-1;
  color: #3a3a3a;
  padding: 10px;
  border-radius: 50px;
  margin: 5px 10px 5px 0px;
  opacity: .8;
  // flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
    color: $button-text-color;
    background-color: darken($theme-color-1, 0%);
    border-color: darken($theme-color-1, 0%);
  }
  &.active {
    background: darken($theme-color-1, 0%);
    color: white;
    opacity: 1;
  }
}

input[type="radio"] {
    left: -999em;
    position: absolute;
}
